.productCardFavourite{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48,48,48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    align-items: center;
    justify-content: center;
}

.productCardFavourite >img{
    width: 14vmax;
    height: 14vmax;
}

.productCardFavourite > div{
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCardFavouriteSpan{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCardFavourite>p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCardFavourite > span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
    margin: 0.5vmax 0.5vmax;
    color: #990011;
}
.productCardFavourite:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  
    transform: translateY(-1vmax);
  }

  @media screen and (max-width: 600px) {
    .productCardFavourite > p {
      font-size: 1.7vmax;
    }
  
    .productCardFavourite > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCardFavourite > span {
      font-size: 1.5vmax;
    }
  
    .productCardFavourite > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }